body{
    background-color: antiquewhite;
}

#app {
    background-color: rgba(209, 190, 177, 0.699);
    margin: 0 auto;
    margin-top: 50px;
    width: 500px;
    height: 700px;
    align-items: center;
    border-radius: 20px;
}

#inputTarefa {
    background-color: blue;
    border-radius: 5px;
}

#btnAdicionar {
    border-radius: 10px;
    color: whitesmoke;
    background-color: rgb(184, 184, 184);
    height: 30px;
    width: 80px;
    right: 80%;
}

.btnDelete {
    border: 2px;
    border-color: brown;
}